body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form {
    padding: 20px;
    border: 2px solid black;
    text-align: center;
    border-radius: 8px;
}

.form__header {
    margin-bottom: 10px;
    font-size: 24px;
}

.form__input {
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    width: 100%;
    font-size: 16px;
}

.form__input-row {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.form__input-row .form__input {
    width: 48%;
}

.form__terms {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.form__checkbox {
    width: 20px;
    height: 20px;
}

/* Element: Buttons */
.form__buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.form__button {
    flex: 1;
    padding: 10px;
    border: none;
    background: black;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    margin: 0 5px;
}